#игнорим cgi-bin
public_html/cgi-bin
#игнорим media
public_html/media/*
#разрешаем исключение добавление в репозиторий файла media/.gitignore
!public_html/media/.gitignore
#игнорим img
*/devwp/src/images/*
*/devwp/dest/images/*
#аналогично третьей строке
!*/images/.gitignore
#не хочу мусор копить в git
*/devwp/dest/*

*/vendor/*
vendor/*
#Полный путь к каталогу который надо исключить из исключения /public_html/node_modules/open-sans-fonts/fonts/
#игнорим node_modules(и в нем нет пустого файла .gitignore)
*/node_modules/*
node_modules/*
#разрешаем подкаталог open-sans-fonts
#!*/node_modules/open-sans-fonts/
#игнорим содержимое подкаталога open-sans-fonts(и в нем тоже нет .gitignore)
#*/node_modules/open-sans-fonts/*
#разрешаем подкаталог fonts подкаталога open-sans-fonts
#!*/node_modules/open-sans-fonts/fonts/
.vscode/*
.cache/*

#под вопросом
dist/*
